<h1 class="title">Projetos</h1>
<mat-card class="projects">
    <div class="section-project">

        <h2>Projeto Formulário Angular + Spring Boot</h2>

        <img class="img-projects" src="formproject.png">

        <div class="container-links">

            <a href="https://github.com/crivelarohenrique/form-app" target="_blank">
                <img src="https://img.shields.io/badge/-GitHub-%23181717?style=for-the-badge&logo=github&logoColor=white"
                    target="_blank">
            </a>

            <a href="https://form-personal-project-app-22c6039c0d38.herokuapp.com" target="_blank">
                <img src="https://img.shields.io/badge/-Heroku-430098?style=for-the-badge&logo=heroku&logoColor=white"
                    target="_blank">
            </a>

        </div>



        <div class="container-tecnologies">

            <img align="center" alt="Crivelaro-Java" height="40" width="50"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" />

            <img align="center" alt="Crivelaro-Spring" height="40" width="50"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />
            <img align="center" alt="Crivelaro-Angular" height="40" width="50"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />

            <img align="center" alt="Crivelaro-Ts" height="40" width="50"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">


        </div>


    </div>

</mat-card>